body{
    background-color: rgb(175, 255, 206);
    
}
 h1{ background-image:url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80"); 
    border: 2px solid tomato;
    text-align:center;
    margin: 25px 50px 75px 150px;
    text-shadow: 2px 2px red;
    font-style: italic ;  
    
    
} 

pre{
    background-color: darkgray;
    
}
p{
  
  color: rgb(199, 43, 43);
}
.g{
    color: rgb(136, 20, 245);
    font-size: larger;
    float: right;
    opacity: 0.5;
}
#gg{
    color: rgb(92, 33, 230);
    float: left;
    letter-spacing: 3px;
}
.center{

    text-align: center;
}
.large{
    font-size: 20px;
}
.yt:link,.yt:visited{
     background-color: rgb(248, 82, 82);
     color:royalblue;
     padding: 14px 25px;
 }
 .yt:hover{
     color:cyan ;
 }
 .yt:active{
     color: darkmagenta;
 }
 .yt{float: right;}
div.ovf{
    background-color: dimgray;
    color: floralwhite;
    width: 200px;
    height: 100px;
    border: 1px dotted rgb(14, 10, 10);
    overflow: scroll; 
}
p.ho {
    display: none;
    background-color: yellow;
    padding: 20px;
    color: blueviolet;
  }
  
  div.hov:hover p {
    display: block;   
  }
  #Grad{
      color: black;
    height: 50px;
    background-color: red;
    background-image: linear-gradient(red, yellow);
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .topnav a:hover {
    background-color: rgb(238, 217, 29);
    color: black;
  }
  .topnav {
     overflow: hidden;/*(Overflow dile kno backgrround color change hoi background-color: dilei hoar kotha over flow die scroll er kaj kore;) */
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #67daf7;
    text-align: center;
    padding: 14px 16px;
  }

  #trans{
    width: 100px;
    height: 100px;
    background: #5611f7;
    transition: width 2s;
  }
  
  #trans:hover {
    width: 800px;
  }

.logo{
    position: absolute;
    left: 0px;
    top: 0px; 
}
  
  

